.boxone{
    height: 110px;
    /* width: 100px; */
    transform: scale(0.6);
    background-image: url("C:\Users\isha\Downloads\Zerodha Front-end\front-end\public\images-20260112T144402Z-1-001\images\pricingEquity.svg");
    background-size: cover;
    background-position: right;
    position: relative;
    /* display: flex;
    justify-content: start;
    align-items: start; */
    /* padding-top: 5px; */
}

.paraone {
    position: relative;
    /* z-index: 3; */
    top: 47px;
    left: 202px;
}

.boxtwo {
    height: 110px;
    transform: scale(0.6);
    background-image: url("C:\Users\isha\Downloads\Zerodha Front-end\front-end\public\images-20260112T144402Z-1-001\images\pricingEquity.svg");
    background-size: cover;
    background-position: right;
    position: relative;
    /* display: flex; */

}

.paratwo {
    position: relative;
    top: 47px;
    left: 204px;
    

}

.boxthree {
    height: 115px;
    transform: scale(0.6);
    background-image: url("C:\Users\isha\Downloads\Zerodha Front-end\front-end\public\images-20260112T144402Z-1-001\images\other-trades.svg");
    background-size: cover;
    background-position: right;
    position: relative;
}

.parathree {
    position: relative;
    top: 30px;
    left: 240px;

}