.box-one{
    height: 110px;
    /* width: 100px; */
    transform: scale(0.6);
    background-image: url("images/pricingEquity.svg");
    background-size: cover;
    background-position: right;
    position: relative;
    /* display: flex;
    justify-content: start;
    align-items: start; */
    /* padding-top: 5px; */
}

.para-one {
    position: relative;
    /* z-index: 3; */
    top: 47px;
    left: 202px;
}

.box-two {
    height: 110px;
    transform: scale(0.6);
    background-image: url("images/pricingEquity.svg");
    background-size: cover;
    background-position: right;
    position: relative;
    /* display: flex; */

}

.para-two {
    position: relative;
    top: 47px;
    left: 204px;
    

}

.box-three {
    height: 115px;
    transform: scale(0.6);
    background-image: url("images/other-trades.svg");
    background-size: cover;
    background-position: right;
    position: relative;
}

.para-three {
    position: relative;
    top: 30px;
    left: 240px;

}